@using ProjectPlanner.Utils
@model IEnumerable<Model.Idea>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All submitted suggestions.</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            BriefDescription
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BriefDescription)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IdeaID }) |
            @if (!item.Creator.Username.Equals(User.Identity.Name))
            {
                <p class="support-button" id="@item.IdeaID">Support</p>      
            }
        </td>
    </tr>
}

</table>

<script type="text/javascript">

    $(".support-button").click(
        function (args) {
            $.ajax("@Url.Action("Support", "Suggestions")", 
            {
                data : { ideaID : args.target.id },
                type : 'POST',
                success : function (data) {
                    if(data == "ok") {
                        $(args.target).remove();
                    }
                }
            });            
        }
    );

</script>