@model IEnumerable<Model.Idea>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            BriefDescription
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BriefDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IdeaID }) |
            @Html.ActionLink("Support", "Support", new { id = item.IdeaID })
        </td>
    </tr>
}

</table>
