@using ProjectPlanner.Utils

@model IEnumerable<Model.Idea>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your suggestions.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            BriefDescription
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BriefDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdeaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdeaID }) |
            @using(Html.BeginForm("Remove", "Suggestions")) {
                @Html.Hidden("ideaID", item.IdeaID)
                @Html.Hidden("successUrl", Url.Action("Index"))
                @Html.Submit("Remove")
            }
        </td>
    </tr>
}

</table>
