@using ProjectPlanner.Models

@{
    ViewBag.Title = "ProjectPlanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProjectPlanner - V0.1</h2>

@if (!User.Identity.IsAuthenticated)
{
    @Html.Partial("LogOnPartial", new LogOnModel { returnUrl = @Url.Action("Index") })
}
else
{
    <p>Welcome, @User.Identity.Name.</p> <br />
    @Html.ActionLink("LogOut", "LogOut", "Account");    
}

@Html.Partial("Menu")